@import 'purecss/build/base-min.css';
@import 'purecss/build/grids-min.css';
@import 'purecss/build/grids-responsive-min.css';

@import './shared/variables.scss';
@import './container/header/header.scss';
@import './container/content/content.scss';
@import './container/footer/footer.scss';
@import './container/blog-entry/blog-entry.scss';

html {
  font-size: $font-size-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-normal;
}

html,
button,
input,
select,
textarea,
.pure-g [class*='pure-u'] {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Oxygen,
    Cantarell, sans-serif;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: $line-height-normal;
}

hr {
  border-bottom: none;
}

li {
  line-height: $line-height-normal;
}

code {
  display: inline-block;
  background-color: #f5f5f5;
  padding: 0 0.2rem;
  border-radius: 0.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  code {
    display: inherit;
    background-color: inherit;
    padding: initial;
    border-radius: initial;
  }
}

.pure-g {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $screen-width-medium + 1) {
  .pure-g {
    width: $screen-width-medium;
  }
}
