/*
 * We are using dart-sass to bundle scss files.
 * The tool is not support bundle css imports and remote imports.
 * We workaround this issue by downloading purecss and refer to it locally.
 */
@use '../deps/purecss.scss';

@use './shared/variables.scss';
@use './container/header/header.scss';
@use './container/content/content.scss';
@use './container/footer/footer.scss';
@use './component/blog-entry/blog-entry.scss';

html {
  font-size: variables.$font-size-mobile;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: variables.$color-normal;
  background-color: variables.$background-color;
}

html,
button,
input,
select,
textarea,
.pure-g [class*='pure-u'] {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Ubuntu,
    'Helvetica Neue',
    Oxygen,
    Cantarell,
    sans-serif;
}

a {
  color: variables.$color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// external link indicator.
a[target='_blank'] {
  margin-right: 0.4rem;

  &::after {
    content: '┓';
    font-size: 0.5rem;
    position: absolute;
    text-decoration: none;
    margin-top: -0.1rem;
    margin-left: 0.1rem;
  }
}

p {
  line-height: variables.$line-height-normal;
}

hr {
  border-bottom: none;
}

li {
  line-height: variables.$line-height-normal;
}

code {
  background-color: variables.$code-background-color;
  border-radius: 0.1rem;
  display: inline-block;
  font-size: 0.95rem;
  padding: 0 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  code {
    display: inherit;
    background-color: inherit;
    padding: initial;
    border-radius: initial;
  }
}

.pure-g {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: variables.$screen-width-medium + 1) {
  html {
    font-size: variables.$font-size-normal;
  }

  .pure-g {
    width: variables.$screen-width-medium;
  }
}
