@import "purecss/build/base-min.css";
@import "purecss/build/grids-min.css";
@import "purecss/build/grids-responsive-min.css";

@import "./asset/font/ibm-plex-sans/styles.css";
@import "./container/header/header.scss";

$font-size-normal: 20px;
$color-normal: #333;
$color-link: #1d6167;

html {
  font-size: $font-size-normal;
  color: $color-normal;
}

a {
  color: $color-link;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: IBMPlexSans, Arial, Helvetica, sans-serif;
}

.pure-g {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .pure-g {
    width: 750px;
  }
}