@import "purecss/build/base-min.css";
@import "purecss/build/grids-min.css";
@import "purecss/build/grids-responsive-min.css";

@import "./asset/font/ibm-plex-sans/styles.css";
@import "./shared/variables.scss";
@import "./container/header/header.scss";
@import "./container/blog-entry/blog-entry.scss";

html {
  font-size: $font-size-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-normal;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: IBMPlexSans, Arial, Helvetica, sans-serif;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.6;
}

hr {
  border-bottom: none;
}

.pure-g {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $screen-width-medium + 1) {
  .pure-g {
    width: 750px;
  }
}

