@import "purecss/build/base-min.css";
@import "purecss/build/grids-min.css";
@import "purecss/build/grids-responsive-min.css";

@import "./asset/font/ibm-plex-sans/styles.css";
@import "./container/header/header.scss";

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: IBMPlexSans, Arial, Helvetica, sans-serif;
}

.pure-g {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .pure-g {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .pure-g {
    width: 970px;
  }
}