$font-size-normal: 20px;
$font-size-mobile: 18px;
$line-height-normal: 1.6;
$color-normal: #262626;
$color-light: #666;
$color-link: #ca5116;
$border-color-light: #eee;

$screen-width-medium: 800px;
$screen-width-small: 360px;
