$font-size-normal: 22px;
$font-size-mobile: 18px;
$line-height-normal: 1.6;

$color-normal: #073642;
$color-light: #586e75;
$color-link: #cb4b16;

$border-color-light: #eee8d5;

$background-color: #fdf6e3;

$code-background-color: #eee8d5;

$screen-width-medium: 960px;
$screen-width-small: 360px;
